data.adj
data.adv
data.noun
data.verb
en
ig7
index.sense
roget.txt
en2wn.pot
README_th_ga_IE_v2.txt
englosses.txt
ga-data.adj
ga-data.adv
ga-data.noun
ga-data.verb
ili-map-pwn30.tab
leabhair.bib
lsg-lmf.xml
lsg.aux
lsg.bbl
lsg.blg
lsg.dot
lsg.out
lsg.pdf
sonrai.tex
sonrai.txr
stemmer.txt
th_ga_IE_v2.dat
th_ga_IE_v2.idx
unmapped-irish.txt
wn2ga.txt
