data.adj
data.adv
data.noun
data.verb
en
ig7
index.sense
roget.txt
en2wn.pot
README_th_ga_IE_v2.txt
englosses.txt
ga-data.adj
ga-data.adv
ga-data.noun
ga-data.verb
leabhair.bib
lsg.aux
lsg.bbl
lsg.blg
lsg.out
lsg.pdf
sonrai.tex
stemmer.txt
th_ga_IE_v2.dat
th_ga_IE_v2.idx
wn2ga.txt
